body {
  background-color: peachpuff;
  margin: none;
}

h2 {
  position: fixed;
  width: 100%;
  font-size: 200%;
  background-color: dodgerblue;
  text-align: center;
  margin-top: none;
  padding: 16px;
}

#left {
  float: left;
  margin: 10px;
}

#big {
  height: 500px;
  width: 2000px;
}

.right {
  width: 100px;
  float: left;
}

.heading {
  font-size: 60px;
  text-align: center;
}

.column {
  float: left;
  width: 30%;
  margin: 20px;
}

.footer {
  text-align: center;
  font-size: 40px;
  position: absolute;
  bottom: 8px;
  width: 100%;
}
